body {
    font-family: Arial, sans-serif;
    margin: 20px;
   
}

form {
    margin: 20px 0;
}

input, button {
    padding: 10px;
    margin: 5px 0;
    display: block;
}

a {
    margin-right: 10px;
}

h1, h3 {
    color: #333;
}

.i2{
    padding-top: 10px;
    font-size: 35px;
}